<header class="anon navigation contain-to-grid">
  <div class="row">
    <div class="small-6 left columns">
      <h1 id="title">Arturo</h1>
    </div>
    <div class="small-6 right columns">
      <nav class="top-bar" data-topbar>
        <ul class="title-area">
          <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
        </ul>

        <section class="top-bar-section">
          <%= render('shared/anon_links') %>
        </section>
      </nav>

    </div>
  </div>
</header>
<%= render "shared/flash" %>
<section class="information">
  <div class="row">
    <div class="small-11 columns small-centered">
      <h2 class="subheading">
        Automate your publishing
      </h2>
    </div>
  </div>

  <div class="row">
    <div class="small-6 columns">
      <img src="http://placehold.it/650x350">
    </div>
    <div class="small-6 columns">
      <div class="row">
        <div class="small-12 columns">
          <h3>
            No sed quodsi gubergren efficiendi, mel mucius facilisi id. Ferri fabellas dissentiet has ex. Vel ei omnis dolore verterem, sit expetendis moderatius inciderint ex
          </h3>
        </div>
      </div>
      <div class="row auth-button">
        <a href="/auth/github" id="auth" class="button radius alert">Authorize With Github</a>
      </div>
    </div>
  </div>

</section>
<hr>
<section class="moreinfo">
  <div class="row">
    <div class="small-12 small-centered columns">
      <h3 class="subheading"> 
        Some other line here
      </h3>
    </div>
  </div>

  <div class="row">
    <div class="small-4 columns feature">
      <div class="row image">
        <img src="http://placehold.it/100x100">
      </div>
      <div class="row">
        <div class="small-12 columns">
          <h3>Automatic Publish</h3>
        </div>
      </div>
      <div class="row">
        <div class="small-12 columns description">
          No sed quodsi gubergren efficiendi, mel mucius facilisi id
          No sed quodsi gubergren efficiendi, mel mucius facilisi id
        </div>
      </div>
    </div>

    <div class="small-4 columns feature">
      <div class="row image">
        <img src="http://placehold.it/100x100">
      </div>
      <div class="row">
        <div class="small-12 columns">
          <h3>Automatic Publish</h3>
        </div>
      </div>
      <div class="row">
        <div class="small-12 columns description">
          No sed quodsi gubergren efficiendi, mel mucius facilisi id
          No sed quodsi gubergren efficiendi, mel mucius facilisi id
        </div>
      </div>
    </div>

    <div class="small-4 columns feature">
      <div class="row image">
        <img src="http://placehold.it/100x100">
      </div>
      <div class="row">
        <div class="small-12 columns">
          <h3>Automatic Publish</h3>
        </div>
      </div>
      <div class="row">
        <div class="small-12 columns description">
          No sed quodsi gubergren efficiendi, mel mucius facilisi id
          No sed quodsi gubergren efficiendi, mel mucius facilisi id
        </div>
      </div>
    </div>
  </div>
</section>
<hr>
