<div class="row badges">
  <div class="small-12 columns">
    <table>
      <thead>
        <tr>
          <th>Badge</th>
          <th>Markdown</th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td><%= image_tag(image) %></td>
        <td><%= text_field_tag('md', markdown) %></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

