<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @repo.name %></h1>
    <p>
      It seems that Arturo could not add a webhook to <%= @repo.name %>.
      Please ensure that you have access to create a webhook on this repository. 
    </p>
  </body>
</html>

