body 
  header.navigation
    background-color: #f2f2f2
    .top-bar, 
    .top-bar-section ul,
    .top-bar-section li
      background-color: transparent
      
  h1#title
    color: #000
  .subheading
    text-align: center
    font-weight: bold
    margin: 1em 0
  h2.subheading
    font-size: 4em
    color: #288B9A
  section.information
    padding: 5em 0 3em 0
    margin-bottom: 1em
    background-color: #282C30
    h3
      font-weight: bold
      color: #fff
    h4
      color: #999
    .auth-button
      text-align: center
      margin-top: 2em
  section.moreinfo
    .row.second
      .icon
        .fa
          font-size: 4em
    .subheading
      color: #fff
    .feature
      color: #636365
      padding: 1em
      border-radius: .2em
      .icon
        text-align: center
        .fa
          color: #282c30
          font-size: 6em
          text-align: center
      h3, h4
        margin-top: 1em
        font-weight: bold
        text-align: center
      .description
        text-align: center
        padding: 1em
  .auth-button #auth
    color: #fff
    font-size: .95em
    font-weight: bold !important
    text-transform: uppercase

  section.pricing
    border-top: 1px solid #dddddd
    background-color: #f2f2f2
    padding-top: 1em
