<form action="<%= user_charge_path(plan.name) %>" method="POST">
  <button type="submit" class="stripe-button-el" style="visibility: visible;">
    <span style="display: block; min-height: 30px;">Switch</span>
  </button>
</form>
