<ul class="right">
  <li class="has-form">
    <a href="/documentation" id="signin" class="button radius">Docs</a>
  </li>
  <li class="has-form">
    <a href="/auth/github" id="auth" class="button radius alert">
      Authorize With Github
    </a>
  </li>
</ul>


