                <ul class="right user">
                  <li class="has-form">
                    <a href="/builds" class="<%= menu_active_class('builds') %>">Builds</a>
                  </li>
                  <li class="has-form">
                    <a href="/repositories" class="<%= menu_active_class('repositories') %>">Repositories</a>
                  </li>
                  <li class="has-form">
                    <a href="/documentation">Documentation</a>
                  </li>
                  <li class="has-form">
                    <a href="/user/settings" class="<%= menu_active_class('users') %>">Settings</a>
                  </li>
                  <li class="has-form">
                    <a href="/user/logout">Logout</a>
                  </li>
                </ul>


