                <ul class="right user">
                  <li class="has-form">
                    <a href="/builds">Builds</a>
                  </li>
                  <li class="has-form">
                    <a href="/repositories">Repositories</a>
                  </li>
                  <li class="has-form">
                    <a href="/documentation">Documentation</a>
                  </li>
                  <li class="has-form">
                    <a href="/user/logout">Logout</a>
                  </li>
                </ul>


