    <div class="row">
      <div class="small-12 columns">
        <table>
          <thead>
            <tr>
              <th>Repository</th>
              <th>Description</th>
              <th>Hooks</th>
              <th>Private</th>
              <th>Build</th>
            </tr>
          </thead>
          <tbody>
          <% @repositories.each do |repository| %> 
            <%= render 'repo_list_single', repository: repository %>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="small-6 small-centered columns">
        <%= paginate @repositories %>
      </div>
    </div>

