<div class="row repositories">
  <div class="row">
    <div class="columns small-3">
      <%= image_tag(badge_url(repo_id: @repo.id)) %>
    </div>
    <div class="columns small-9">
      <%= text_field_tag('md', @badge_markdown) %>
    </div>
  </div>
  <div class="row builds">
    <h3>Builds History</h3>
    <%= render('build/build_list') %>
  </div>
</div>
