body 
  line-height: 1.5em
  h1,h2,h3,h4,h5
    font-family: "adelle-sans"
  hr
    width: 75%
    margin-left: 12.5%
    margin-top: 2em

  #splash 
    background-image: image-url('splash.jpg')
    background-size: cover
    color: #000
    max-width: none
    padding-bottom: 5em
    h1
      color: #000
    ul
      list-style: none
    img
      border: .3em solid #fff
      border-radius: .3em
    #information
      margin: 5em 5em
      .hidden
        display: none
  #features
    margin-top: 5em
