body
  header.navigation
    border-bottom: 1px solid #ddd
    background-color: #f2f2f2
    .top-bar, 
    .top-bar-section ul,
    .top-bar-section li,
    .top-bar-section li a
      background-color: transparent
    .top-bar-section .has-form 
      padding: 0 5px
    h1#title
      font-weight: bold
    a.button
      font-weight: bold !important
      text-transform: uppercase
      position: relative
      top: 50%
      color: #fff
      background-color: transparent
    a#signin
      background-color: #b3b2a4
      color: #636365

  header.user.navigation
    ul.user
      a, a:hover
        top: 50%
        color: #007dce
        padding: 0 .3em
        position: relative
        font-size: 1em
      a.active, a:hover
        border-bottom: 2px solid #008cba
