.repositories
  .button
    font-size: 1em
    height: 100%
  table
    width: 100%
    .name, .hooks, .toggle
      width: 5%
    .name
      width: 20%
    .hooks, .toggle
      text-align: center
    .description
      text-overflow: ellipse
      overflow: hidden
